{% if product.variation_parent %}
    {%- set product_id = product.variation_parent.pk -%}
{% else %}
    {%- set product_id = product.pk -%}
{% endif %}
<div class="price text-right product-price-div" id="product-price-div-{{ product_id }}" data-product-id="{{ product.pk }}">
    <h2 id="no-price-{{ product_id }}">
        {% if show_prices() and not xtheme.get("hide_prices") %}
        {#
            todo: translations change
            <small class="text-muted">{% trans %}Total{% endtrans %}:</small>
        #}
        <small class="text-muted">Suma:</small>
        <span class="product-price"><strong>--</strong></span>
        {% endif %}
    </h2>
        {% if remaining_quantity %}
    <span class="small text-muted">ilość pozostała w magazynie: {{ remaining_quantity }}</span>
    {% else %}
    <span class="small text-muted">{% trans %}Combination not available{% endtrans %}</span>
    {% endif %}
   <div id="product-description" style="display: none">
        {{ product.description|safe }}
    </div>
</div>
