{% extends "shuup/front/checkout/_base.jinja" %}

{% block checkout_phase_content %}
    <form role="form" method="post" action="" id="addresses">
        {% set forms = form.forms %}
        {% csrf_token %}
        {% if forms.billing %}
            {{ checkout_macros.address_phase_billing_well(forms.billing, forms.company, forms.saved_billing) }}
        {% endif %}
        {% if forms.shipping %}
            {{ checkout_macros.address_phase_shipping_well(forms.shipping, saved_address_form=forms.saved_shipping) }}
        {% endif %}
        {{ checkout_macros.default_buttons() }}
    </form>
{% endblock %}

{% block extrajs %}
    {{ super() }}
    {{ checkout_macros.address_phase_extrajs() }}
    <script>
        var products = eval("{{ products }}")
        dataLayer.push({
            'event': 'pageview',
            'pageDomain': 'sklep.fishster.pl',
            'pageURL': '/checkout/addresses/',
            'pageType': 'checkout',
              'ecommerce': {
                'currencyCode': 'PLN',
                'checkout': {
                  'actionField': {'step': 2},
                  'products': products
                }
              }
            });
    </script>
{% endblock %}
