{% extends "shuup/front/checkout/_base.jinja" %}

{% block checkout_phase_content %}
<style>
.custom-radio-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
</style>
    <form role="form" method="post" action="" id="addresses">
        {% set forms = form.forms %}
        {% csrf_token %}
        {% for field in form.payment_type %}
        <div class="radio checkout-method-radio" style="font-size: 1.2rem;">{{ field }}</div>
        {% endfor %}
        {{ checkout_macros.default_buttons() }}
    </form>
{% endblock %}

{% block extrajs %}
    {{ super() }}
    {{ checkout_macros.address_phase_extrajs() }}
    <script>
        var products = eval("{{ products }}")
        dataLayer.push({
            'event': 'pageview',
            'pageDomain': 'sklep.fishster.pl',
            'pageURL': '/checkout/checkout_payment_select/',
            'pageType': 'checkout',
              'ecommerce': {
                'currencyCode': 'PLN',
                'checkout': {
                  'actionField': {'step': 6},
                  'products': products
                }
              }
            });
    </script>
{% endblock %}
