{% extends "shuup/front/checkout/_base.jinja" %}

{% block checkout_phase_content %}
        <script>
        var products = eval("{{ products }}")
        dataLayer.push({
            'event': 'pageview',
            'pageDomain': 'sklep.fishster.pl',
            'pageURL': '/checkout/checkout_register/',
            'pageType': 'checkout',
              'ecommerce': {
                'currencyCode': 'PLN',
                'checkout': {
                  'actionField': {'step': 3},
                  'products': products
                }
              }
            });
    </script>
    <form class="single-page-refresh-after" role="form" method="post" action="" id="register">
        {% csrf_token %}
        {% for field in form.hidden_fields() %}{{ field|safe }}{% endfor %}
        {% for field in form.visible_fields() %}{{ macros.render_field(field) }}{% endfor %}
        {{ checkout_macros.default_buttons() }}
    </form>
{% endblock %}
